version: "3.8"

services:
  homebot-ml:
    build: .
    container_name: homebot-ml
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    networks:
      - microservices-net

networks:
  microservices-net:
    external: true